
//主题配色
//http://www.materialpalette.com/blue/pink
$darkPrimaryColor:   #0288D1;
$primaryColor:       #03A9F4;
$lightPrimaryColor:  #B3E5FC;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #FF4081;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;


body{
	background-color: blue;
	h1{
		color: $darkPrimaryColor;
		line-height: 10px;


		background-color: #FFF;
	}
}










